::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #FFF;
    padding: 1px;
}

::-webkit-scrollbar-thumb {
    background: #9ca2b0;
    border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
    background: black;
}

.lightbox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
}


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}
.lightbox.fadeOut {
    opacity: 0;
}
.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(img/arrow.svg) center center / 16px 28px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 40px;
    margin-top: -14px;
    z-index: 11;
}
.lightbox__prev {
    right: auto;
    left: 40px;
    transform: rotate(180deg);
}
.lightbox__close {
    width: 30px;
    height: 30px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 2.64275L13.3573 0.5L8 5.85725L2.64275 0.5L0.5 2.64275L5.85725 8L0.5 13.3573L2.64275 15.5L8 10.1427L13.3573 15.5L15.5 13.3573L10.1427 8L15.5 2.64275Z" fill="black"/></svg>') center center / 100% 100% no-repeat transparent;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 12;
}
.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
}
.lightbox button:hover {
    opacity: 1;
}
.lightbox__container img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    animation: lightboxIn .5s;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 100vh;
}
.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(img/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}