@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;200&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  font-weight: 200;
}

:root {
  /*--blue: #0065FC; le bleu*/
  --bordeau: #D3573C;
  --claire: #DEEBFF;
  --gris: #F2F2F2;
}

a { 
  color: #000; 
}

h1 {
  font-size: 36px;
  line-height: 47px;
  margin: 0;
  font-weight: 200 !important;
}

h2 {
  font-size: 36px;
  line-height: 47px;
  font-weight: 200;
  margin: 0;
  color: var(--bordeau);
}


h3, h4, h5, h6, p { 
  margin: 0 !important;
}

li a {
  outline: none;
  text-decoration: none;
}  

li {
  list-style: none;
}

header, section { 
  max-width: 1800px;
  margin: 0 auto !important; 
  padding: 12px 35px;
}

/* vvv nav vvv */

nav {
  display:flex;
  padding: 5px 25px;
}

nav ul {
  margin:0;
  padding:0;
}

nav li{
  list-style:none;
}

.nophoto {
  margin-left: auto;
}

.logo {
  width:auto;
  padding: 5px 50px;
}

nav a {
  text-decoration:none;
  padding: 10px 5px;
}

.lemenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.lemenu .acti a:hover {
  border-top: 3px solid var(--blue);
}

.hebeacti {
  display:flex;
}

.lehead {
  margin-left: auto;
}


/* vvv main vvv */

.main {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  margin-right: 35px;
}


.main figure:hover {
  cursor: pointer;
}

.main figure {
  display: flex;
  flex-flow: column;
  flex: 0 0 350px;
  align-items: center;
  text-align: center;
}

.main figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.main img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}



