@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;200&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  font-weight: 200;
}

/* flex */
header {
  display:flex;
  flex: 2;
  max-width: 60%;
}
nav {
  display:flex;
  padding: 5px 25px;
}

.lesphoto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
main figure {
  display: flex;
  flex-flow: column;
  flex: 1 0 350px;
  align-items: center;
  text-align: center;
}

/* font */
:root {
  --bordeau: #D3573C;
  --claire: #DEEBFF;
  --gris: #F2F2F2;
}
a { 
  color: #000; 
}
h1 {
  font-size: 36px;
  line-height: 47px;
  margin: 0;
  font-weight: 200 !important;
  color: var(--bordeau);
}
h2 {
  font-size: 36px;
  line-height: 47px;
  font-weight: 200;
  margin: 0;
  color: var(--bordeau);
}
h3, h4, h5, h6, p { 
  margin: 0 !important;
}

/* vvv nav vvv */
nav ul {
  margin:0;
  padding:0;
}
nav li{
  list-style:none;
}
nav a {
  text-decoration:none;
  padding: 10px 5px;
}
nav li a {
  outline: none;
  text-decoration: none;
}  
nav li {
  list-style: none;
}
.lemenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lemenu .acti a:hover {
  border-top: 3px solid var(--blue);
}
.hebeacti {
  display:flex;
}

/* vvv main vvv */
.nophoto {
  position: absolute;
  right: 50px;
  top: 10px;
} 
main figure:hover {
  cursor: pointer;
}
main figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
main img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}



