@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  font-weight: 200;
}
header {
  max-width: 1800px;
  margin: 0 auto !important;
  padding: 35px;
}
main, footer {
  max-width: 1800px;
  margin: 0 auto !important;
  padding: 12px 35px;
}

/* header */
header {
  display:flex;
  max-width: 88%;
  margin-top: 15px;
}
nav {
  display:flex;
  /*padding: 5px 25px;*/
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* font */
a { 
  color: #000; 
  list-style: none;
  outline: none;
  text-decoration: none;
}
h1 {
  font-size: 36px;
  line-height: 47px;
  margin: 0;
  font-weight: 200 !important;
  color: #D3573C;
}
h2 {
  margin: 10px;
  font-weight: 200;
  color: #D3573C;
}
h2 a {
  font-size: 36px;
  line-height: 47px;
  text-decoration: none;
}
h3, h4, h5, h6, p { 
  margin: 0 !important;
}

/* vvv nav vvv */
h3.boutontop {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}
section.top {
  background-color: #DB8876;
  border-radius: 5px;
  text-align: center;
  width: 182px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
nav ul {
  margin:0;
  padding:0;
}
nav li{
  list-style:none;
}
nav a {
  text-decoration:none;
  padding: 10px 5px;
}
li a {
  outline: none;
  text-decoration: none;
  list-style: none;
}  
a li {
  list-style: none;
}
nav ul {
  display:flex;
}
figcaption ul {
  display:flex;
  padding-left: 0;
  margin-top: 2px;
}
.photographes figcaption ul {
  justify-content: center;
}
nav .petitsb {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 12px 2px;
  padding: 4px 8px;
}
nav a .petitsb  {
  color: #D3573C;
  font-size: 12px;
  font-weight: 800;
}

/* vvv photographes vvv */
.nophoto {
  position: absolute;
  right: 100px;
  top: 77px;
} 
.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photographes figure {
  display: flex;
  flex-flow: column;
  flex: 1 0 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px !important;
}
.photographes figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.photographes img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.photographes .petitsb {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 2px;
  padding: 4px 8px;
}
.photographes a .petitsb  {
  color: #D3573C;
  font-size: 12px;
  font-weight: 800;
}
figcaption .city {
  font-size: 13px;
  line-height: 17px;
  color: #D3573C;
  font-weight: 400;
}
figcaption .brand {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}
figcaption .price {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}

/* galeries */
.presentation {
  display: flex;
  justify-content: space-around;
}
.lespetitsb {
  display: flex;
}
.portrait figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.lesphotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lesphotos figure {
  display: flex;
  flex-flow: column;
  flex: 1 0 350px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px !important;
}
.lesphotos figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 350px;
  border-radius: 5px;
}
.lesphotos img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.lesphotos figcaption {
  display: flex;
  width: 93%;
  justify-content: space-between;
}
.lesphotos figcaption p {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #D3573C;
}
.presentation figure {
  display: flex;
  justify-content: space-between;
  flex: 1 0 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px !important;
  padding-left: 40px;
  padding-right: 40px;
}
.presentation figure img {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 160px;
  border-radius: 100px;
}
.presentation img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.presentation .petitsb {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 12px 2px;
  padding: 4px 8px;
}
.presentation a .petitsb  {
  color: #D3573C;
  font-size: 12px;
  font-weight: 800;
}
.presentation figcaption h1, .presentation figcaption p {
  display: flex;
  text-align: left;
}
.presentation button {
background-color: #911C1C;
color: #fff;
padding: 20px 10px;
display: flex;
text-align: left;
border: 0;
border-radius: 3px;
}
.push-right {
  /*margin-right: auto;*/
  margin-right: 20%;
}
.presentation li a {
  outline: none;
  text-decoration: none;
  list-style: none;
}  
.presentation a li {
  list-style: none;
}
.presentation .trier {
  display: flex;
}